* {
    touch-action: none;
}

html,
body {
    height: 100%;
    background: #101029;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.catalog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #151536;
}

.left {
    position: absolute;
    left: .8rem;
    top: 1.2rem;
    font-size: 3rem;
}

h1 {
    font-size: 1.8rem;
}

.container {
    flex: 1;
}

.containerul ul {
    display: flex;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.containerul ul li {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}

.containerul ul li span {
    width: 50px;
    height: 50px;
    display: block;
}

.containerul ul li a {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

.containerul ul li span img {
    width: 100%;
    height: 100%;
}

.time p {
    font-size: 2rem;
}

footer {
    width: 100%;
    height: 2rem;
    position: fixed;
    left: 45%;
    bottom: 2rem;
}

footer div {
    width: 30px;
    height: 26px;
    margin-bottom: 15rem;
}

footer div img {
    width: 100%;
    height: 100%;
}

.circle {
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 100%;
    background-color: #00c0ff;
}

.circleblue {
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 100%;
    background-color: #00ffde;
}

.circleyellow {
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 100%;
    background-color: #fffc00;
}

i {
    font-style: normal;
    margin-left: .2rem;
    width: 4rem;
    text-align: center;
    display: inline-block;
}

.circlehigh {
    border: 4px solid #0b456a;
    color: #00c0ff;
    width: 6px;
    height: 6px;
}

.circlehigh2 {
    border: 4px solid #0b5860;
    color: #00c0ff;
    width: 6px;
    height: 6px;
}

.circlehigh3 {
    border: 4px solid #58571d;
    color: #fffc00;
    width: 6px;
    height: 6px;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bigbox .skippage {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.bigbox .page {
    position: relative;
}

.bigbox .page1 {
    background: url(../img/bgimg/bgimg.jpg) no-repeat center;
    background-size: cover;
}

.bigbox .page2 {
    background: url(../img/bgimg/bg1.jpg) no-repeat center;
    background-size: cover;
}

.bigbox .page3 {
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: cover;
}

.bigbox .page4 {
    background: url(../img/bgimg/bg3.png) no-repeat center;
    background-size: cover;
}

.bigbox .page5 {
    background: url(../img/bgimg/bg1.jpg) no-repeat center;
    background-size: cover;
}

.bigbox .page6 {
    background: url(../img/bgimg/bg1.jpg) no-repeat center;
    background-size: cover;
}

.bigbox .page7 {
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: cover;
}

.bigbox .page8 {
    background: url(../img/bgimg/bg1.jpg) no-repeat center;
    background-size: cover;
}

.bigbox .page9 {
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: cover;
}

.bigbox .page10 {
    background: url(../img/bgimg/bg4.png) no-repeat center;
    background-size: cover;
}

.page header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #151536;
}

.center h1 {
    font-size: 2.4rem;
    color: #ffffff;
    letter-spacing: 2px;
}

.page-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.page-container div ul {
    display: flex;
    flex-wrap: wrap;
}

.page-container div ul li {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.page-container ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container ul li a span:nth-child(1) {
    width: 6.5rem;
    height: 6.5rem;
    display: block;
}

.page-container ul li a span:nth-child(1) img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    margin-left: 1rem;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
    background: #007aff;
}

.text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    color: #fff;
}

.ptext {
    text-align: right;
}

.img {
    animation: poiner 2s infinite;
}

@keyframes poiner {
    0% {
        opacity: 0;
        bottom: 0
    }
    100% {
        opacity: 1;
        bottom: 10px;
    }
}


/* 首页 */

.bigbox {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 44%;
}

.head span:nth-child(1) {
    width: 25px;
    height: 25px;
    display: block;
    margin-right: .5rem;
}

.head span:nth-child(1) img {
    width: 100%;
    height: 100%;
}

.head span:nth-child(2) {
    font-size: 1.4rem;
}

.containers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.4rem;
}

.containers div:nth-child(1) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.labour {
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    font-size: 24px;
}

.report {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
}

.containers div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-top: 12rem;
}


/* 政策 */

.dottedline {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: 100% 100%;
    overflow-y: auto;
    height: 90%;
}

.leftline {
    border-left: 1px solid #0077b3;
    border-bottom: 1px solid #0077b3;
    padding: 20px 10px;
    margin: 0 auto;
    width: 85%;
    position: relative;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.rightline {
    border-right: 1px solid #0077b3;
    border-bottom: 1px solid #0077b3;
    padding: 20px 10px;
    margin: 0 auto;
    width: 85%;
    position: relative;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.textcolor {
    color: #00c0ff;
    font-size: 2rem;
}

.leftdot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #00fff0;
    position: absolute;
    right: -3px;
    top: 28px;
}

.rightdot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #00fff0;
    position: absolute;
    left: -3px;
    top: 28px;
}


/* 月关键词 */

.popup {
    border-bottom: 1px solid #29294b;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    position: relative;
}

.leftwire {
    width: 60%;
    margin-left: 1rem;
}

.rightborder {
    width: 60%;
    background: url(../img/bgimg/tan3.png);
    background-size: 100% 100%;
    margin-left: 1rem;
    font-size: 1.2rem;
    padding: 1rem;
}

.leftborder {
    width: 60%;
    background: url(../img/bgimg/tan2.png);
    background-size: 100% 100%;
    padding: 1rem;
    font-size: 1.2rem;
}

.rightyellow {
    background: url(../img/bgimg/tan3.png);
    width: 60%;
    background-size: 100% 100%;
    padding: 1rem;
    font-size: 1.2rem;
}

.pointplot1 span:nth-child(1) {
    position: absolute;
    left: 14%;
    top: 11%;
}

.pointplot1 span:nth-child(1) b {
    height: 1rem;
    border-right: 3px solid #067aa9;
    transform: skew(72deg);
    display: block;
    position: absolute;
    left: 2.4rem;
    top: .5rem;
    opacity: .8;
}

.pointplot1 span:nth-child(2) {
    position: absolute;
    left: 30%;
    top: 20%;
}

.pointplot1 span:nth-child(2) b {
    display: block;
    height: 2rem;
    border-right: 2px solid #067aa9;
    transform: skew(-35deg);
    position: absolute;
    left: -1rem;
    top: .9rem;
    opacity: .8;
}

.pointplot1 span:nth-child(3) {
    position: absolute;
    left: 20%;
    top: 40%;
}

.pointplot1 span:nth-child(3) b {
    display: block;
    height: 2rem;
    border-left: 2px solid #067aa9;
    transform: skew(31deg);
    position: absolute;
    left: 1.5rem;
    top: .9rem;
    opacity: .8;
}

.pointplot2 span:nth-child(1) {
    position: absolute;
    left: 29%;
    top: 64%;
}

.pointplot2 span:nth-child(1) b {
    display: block;
    height: 2rem;
    border-left: 2px solid #067aa9;
    transform: skew(-56deg);
    position: absolute;
    left: -1.9rem;
    top: .5rem;
    opacity: .8;
}

.pointplot2 span:nth-child(2) {
    position: absolute;
    left: 14%;
    top: 82%;
}

.pointplot2 span:nth-child(2) b {
    height: 4rem;
    display: block;
    border-left: 2px solid #067aa9;
    transform: skew(-20deg);
    position: absolute;
    left: 8px;
    top: -55px;
    opacity: .8;
}

.pointplot3 span:nth-child(1) {
    position: absolute;
    left: 6%;
    top: 25%;
}

.pointplot3 span:nth-child(1) b {
    height: 4rem;
    display: block;
    border-left: 2px solid #067aa9;
    transform: skew(1deg);
    position: absolute;
    left: 1px;
    top: 9px;
    opacity: .8;
}

.pointplot3 span:nth-child(2) {
    position: absolute;
    left: 6%;
    top: 57%;
}

.pointplot3 span:nth-child(2) b {
    height: 2rem;
    display: block;
    border-left: 3px solid #067aa9;
    transform: skew(-65deg);
    position: absolute;
    left: 2.4rem;
    top: -2.1rem;
    opacity: .8;
}

.pointplot4 span:nth-child(1) {
    position: absolute;
    right: 31%;
    top: 19%;
}

.pointplot4 span:nth-child(1) b {
    display: block;
    height: 2rem;
    border-left: 2px solid #067aa9;
    transform: skew(63deg);
    position: absolute;
    left: 2.3rem;
    top: .3rem;
    opacity: .8;
}

.pointplot4 span:nth-child(2) {
    position: absolute;
    right: 17%;
    top: 33%;
}

.pointplot4 span:nth-child(2) b {
    display: block;
    height: 2rem;
    border-left: 2px solid #067aa9;
    transform: skew(-49deg);
    position: absolute;
    left: -1.6rem;
    top: .5rem;
    opacity: .8;
}

.pointplot4 span:nth-child(3) {
    position: absolute;
    right: 27%;
    top: 51%;
}

.pointplot5 span:nth-child(1) {
    position: absolute;
    right: 22%;
    top: 80%;
}

.pointplot5 span:nth-child(1) b {
    display: block;
    width: 5rem;
    height: 2rem;
    border-top: 2px solid #067aa9;
    position: absolute;
    left: -56px;
    top: 2px;
    opacity: .8;
}

.pointplot5 span:nth-child(2) {
    position: absolute;
    right: 40%;
    top: 80%;
}

.pointplot5 span:nth-child(2) b {
    display: block;
    height: 4rem;
    border-left: 2px solid #067aa9;
    transform: skew(-40deg);
    position: absolute;
    left: 1.8rem;
    top: -3.8rem;
    opacity: .8;
}

.pointplot6 span:nth-child(1) {
    position: absolute;
    right: 41%;
    top: 41%;
}

.pointplot6 span:nth-child(1) b {
    display: block;
    height: 2rem;
    border-left: 2px solid #067aa9;
    transform: skew(57deg);
    position: absolute;
    left: 2rem;
    top: 0rem;
    opacity: .8;
}

.pointplot7 span:nth-child(1) {
    position: absolute;
    left: 30%;
    top: 28%;
}

.pointplot7 span:nth-child(1) b {
    display: block;
    height: 2rem;
    border-left: 2px solid #067aa9;
    transform: skew(-34deg);
    position: absolute;
    left: -1rem;
    top: .6rem;
    opacity: .8;
}

.pointplot7 span:nth-child(2) {
    position: absolute;
    left: 22%;
    top: 47%;
}

.pointplot7 span:nth-child(2) b {
    display: block;
    height: 3rem;
    border-left: 2px solid #067aa9;
    transform: skew(133deg);
    position: absolute;
    left: -16px;
    top: -5px;
    opacity: .8;
}

.pointplot8 span:nth-child(1) b {
    display: block;
    height: 2rem;
    border-left: 2px solid #067aa9;
    transform: skew(51deg);
    position: absolute;
    left: -.8rem;
    top: -1.8rem;
    opacity: .8;
}

.pointplot8 span:nth-child(1) {
    position: absolute;
    left: 34%;
    top: 67%;
}

.pointplot9 span:nth-child(1) {
    position: absolute;
    left: 11%;
    top: 35%;
}

.pointplot9 span:nth-child(1) b {
    display: block;
    height: 2rem;
    border-left: 2px solid #067aa9;
    transform: skew(-130deg);
    position: absolute;
    left: 19px;
    top: 1px;
    opacity: .8;
}

.pointplot9 span:nth-child(2) {
    position: absolute;
    left: 11%;
    top: 67%;
}

.pointplot9 span:nth-child(2) b {
    display: block;
    height: 4rem;
    border-left: 2px solid #067aa9;
    position: absolute;
    left: 1px;
    top: -47px;
    opacity: .8;
}


/* 产业高亮点 */

.industrytop>ul {
    position: relative;
}

.lightspot1 {
    width: 30rem;
    height: 20rem;
    position: relative;
    margin: 0 auto;
}

.lightspot1 span:nth-child(1) {
    position: absolute;
    left: 4.4rem;
    top: 8.1rem;
}

.lightspot1 span:nth-child(1) small {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 88%;
    top: 59%;
}

.lightspot1 span:nth-child(1) b {
    width: 2rem;
    height: 3rem;
    display: block;
    border-left: 2px solid #063952;
    position: absolute;
    left: 144%;
    top: 59%;
    transform: skew(58deg);
}

.lightspot1 span:nth-child(2) {
    position: absolute;
    left: 4.9rem;
    top: 3.1rem;
}

.lightspot1 span:nth-child(2) b {
    height: 7rem;
    display: block;
    border-left: 2px solid #063952;
    position: absolute;
    transform: skew(27deg);
    left: 147%;
    top: 84%;
}

.lightspot1 span:nth-child(2) small {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 97%;
    top: 69%;
}

.lightspot1 span:nth-child(3) {
    position: absolute;
    left: 10rem;
    top: 1.8rem;
}

.lightspot1 span:nth-child(3) b {
    height: 7rem;
    display: block;
    border-left: 2px solid #063952;
    position: absolute;
    left: 55%;
    top: 111%;
    transform: skew(8deg);
}

.lightspot1 span:nth-child(3) small {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 39%;
    top: 92%;
}

.lightspot1 span:nth-child(4) {
    position: absolute;
    left: 15rem;
    top: 4rem;
}

.lightspot1 span:nth-child(4) b {
    height: 5rem;
    display: block;
    border-left: 2px solid #063952;
    position: absolute;
    left: 0%;
    top: 123%;
    transform: skew(-41deg);
}

.lightspot1 span:nth-child(4) small {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 49%;
    top: 100%;
}

.lightspot1 span:nth-child(5) {
    position: absolute;
    left: 19.9rem;
    top: 7.1rem;
}

.lightspot1 span:nth-child(5) b {
    height: 4rem;
    display: block;
    border-left: 2px solid #063952;
    position: absolute;
    left: -66%;
    top: 114%;
    transform: skew(-63deg);
}

.lightspot1 span:nth-child(5) small {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    top: 89%;
}

.lightspot1 span:nth-child(6) {
    position: absolute;
    left: 22rem;
    top: 9rem;
}

.lightspot1 span:nth-child(6) b {
    height: 3rem;
    display: block;
    border-left: 3px solid #063952;
    position: absolute;
    left: -89%;
    top: 62%;
    transform: skew(-75deg);
}

.lightspot1 span:nth-child(6) small {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    top: 89%;
}

.lightspot1 span:nth-child(7) {
    position: absolute;
    left: 18rem;
    top: 15.6rem;
}

.lightspot1 span:nth-child(8) {
    position: absolute;
    left: 12.9rem;
    top: 12rem;
}

.lightspot1 span:nth-child(8) small {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #0ec3ff;
    border-radius: 100%;
    position: absolute;
    left: -4%;
    top: 45%;
}

.lightspot1 span:nth-child(8) b {
    width: 2rem;
    height: 3rem;
    display: block;
    border-left: 2px solid #11335b;
    position: absolute;
    left: 62%;
    top: 72%;
    transform: skew(57deg);
}

.lightspot2 {
    width: 31rem;
    height: 20rem;
    position: relative;
    margin: 0 auto;
}

.lightspot2 span {
    position: absolute;
}

.lightspot2 span i small {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
}

.lightspot2 span:nth-child(1) {
    left: 6rem;
    top: 3rem;
}

.lightspot2 span:nth-child(1) b {
    width: 2rem;
    height: 4rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 102%;
    top: 120%;
    transform: skew(242deg);
}

.lightspot2 span:nth-child(2) {
    left: 9rem;
    top: 2.1rem;
}

.lightspot2 span:nth-child(2) b {
    width: 2rem;
    height: 4.8rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 61%;
    top: 115%;
    transform: skew(44deg);
}

.lightspot2 span:nth-child(3) {
    left: 12.1rem;
    top: 1.1rem;
}

.lightspot2 span:nth-child(3) i {
    width: 7rem;
}

.lightspot2 span:nth-child(3) small {
    left: 40%;
    top: 98%;
}

.lightspot2 span:nth-child(3) b {
    width: 2rem;
    height: 5.5rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 35%;
    top: 129%;
    transform: skew(-11deg);
}

.lightspot2 span:nth-child(4) {
    left: 17.7rem;
    top: 1.9rem;
}

.lightspot2 span:nth-child(4) i {
    width: 7rem;
}

.lightspot2 span:nth-child(4) b {
    width: 2rem;
    height: 5.1rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: -22%;
    top: 127%;
    transform: skew(-37deg);
}

.lightspot2 span:nth-child(5) {
    left: 21rem;
    top: 3.5rem;
}

.lightspot2 span:nth-child(5) b {
    width: 2rem;
    height: 4.3rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: -69%;
    top: 72%;
    transform: skew(-63deg);
}

.lightspot2 span:nth-child(6) {
    left: 21rem;
    top: 5rem;
}

.lightspot2 span:nth-child(6) b {
    width: 2rem;
    height: 1.8rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: -80%;
    top: 113%;
    transform: skew(-76deg);
}

.lightspot2 span:nth-child(8) {
    left: 16rem;
    top: 10.6rem;
}

.lightspot2 span:nth-child(8) i {
    width: 7rem;
}

.lightspot2 span:nth-child(8) small {
    background: #0bb2eb;
    width: 6px;
    height: 6px;
}

.lightspot2 span:nth-child(8) b {
    width: 2rem;
    height: 1.3rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 26%;
    top: 123%;
    transform: skew(62deg);
}

.lightspot2 span:nth-child(7) {
    left: 14rem;
    top: 7rem;
}

.lightspot2 span:nth-child(7) small {
    background: #0ec3ff;
    position: absolute;
    left: 0rem;
    top: 1.3rem;
}

.lightspot2 span:nth-child(7) b {
    width: 2rem;
    height: 3.7rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 35%;
    top: 121%;
    transform: skew(33deg);
}

.lightspot2 span:nth-child(9) {
    left: 19rem;
    top: 12rem;
}

.lightspot2 span:nth-child(9) i {
    width: 7rem;
}

.lightspot2 span:nth-child(9) small {
    background: #0bb2eb;
    width: 7px;
    height: 7px;
}

.lightspot2 span:nth-child(10) {
    left: 11rem;
    top: 11.6rem;
}

.lightspot2 span:nth-child(10) small {
    background: #0ec3ff;
    position: absolute;
    left: .3rem;
    top: 1.5rem;
    z-index: 1;
}

.lightspot2 span:nth-child(10) b {
    width: 2rem;
    height: 1rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 61%;
    top: 56%;
    transform: skew(-259deg);
}

.lightspot2 span:nth-child(11) {
    left: 6rem;
    top: 8rem;
}

.lightspot2 span:nth-child(11) b {
    width: 2rem;
    height: 3.5rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 66%;
    top: 116%;
    transform: skew(54deg);
}

.lightspot2 span:nth-child(12) {
    left: 4rem;
    top: 10rem;
}

.lightspot2 span:nth-child(12) i {
    width: 7rem;
}

.lightspot2 span:nth-child(12) b {
    width: 2rem;
    height: 2rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 56%;
    top: 105%;
    transform: skew(75deg);
}

.lightspot2 span:nth-child(13) {
    left: 4rem;
    top: 14rem;
}

.lightspot2 span:nth-child(13) b {
    width: 2rem;
    height: 2.5rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 88%;
    top: -45%;
    transform: skew(110deg);
}

.lightspot2 span:nth-child(14) {
    left: 7.6rem;
    top: 15.6rem;
}

.lightspot2 span:nth-child(14) b {
    width: 2rem;
    height: 3.5rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 58%;
    top: -161%;
    transform: skew(136deg);
}

.lightspot2 span:nth-child(15) {
    left: 9.4rem;
    top: 17rem;
}

.lightspot2 span:nth-child(15) b {
    width: 2rem;
    height: 5.6rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 27%;
    top: -262%;
    transform: skew(-199deg);
}

.lightspot2 span:nth-child(16) {
    left: 13.5rem;
    top: 17.2rem;
}

.lightspot2 span:nth-child(16) b {
    width: 2rem;
    height: 4.9rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: -23%;
    top: -233%;
    transform: skew(22deg);
}

.lightspot2 span:nth-child(17) {
    left: 16.5rem;
    top: 17rem;
}

.lightspot2 span:nth-child(17) b {
    width: 2rem;
    height: 5.5rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: -58%;
    top: -258%;
    transform: skew(45deg);
}

.lightspot2 span:nth-child(18) {
    left: 21rem;
    top: 15.6rem;
}

.lightspot2 span:nth-child(18) b {
    width: 2rem;
    height: 4rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: -113%;
    top: -152%;
    transform: skew(69deg);
}

.lightspot3 {
    width: 30rem;
    height: 20rem;
    position: relative;
    margin: 0 auto;
}

.lightspot3 span {
    position: absolute;
}

.lightspot3 span i small {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
}

.lightspot3 span i {
    width: 7rem;
    text-align: left;
}

.lightspot3 span:nth-child(1) {
    left: 8rem;
    top: 1.3rem;
}

.lightspot3 span:nth-child(1) b {
    width: 2rem;
    height: 2.5rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 38%;
    top: 115%;
    transform: skew(63deg);
}

.lightspot3 span:nth-child(2) {
    left: 15.3rem;
    top: 4.7rem;
}

.lightspot3 span:nth-child(2) i small {
    left: 20%;
    top: -96%;
}

.lightspot3 span:nth-child(2) b {
    width: 2rem;
    height: 3rem;
    display: block;
    border-left: 2px solid #11335b;
    position: absolute;
    left: -5%;
    top: -73%;
    transform: skew(-50deg);
}

.lightspot3 span:nth-child(3) {
    left: 12.7rem;
    top: 5rem;
}

.lightspot3 span:nth-child(3) small {
    left: 2%;
    top: 111%;
    background: #0cbbf7;
}

.lightspot3 span:nth-child(3) b {
    width: 2rem;
    height: 3rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 10%;
    top: 128%;
    transform: skew(20deg);
}

.lightspot3 span:nth-child(4) {
    left: 14rem;
    top: 9rem;
}

.lightspot3 span:nth-child(4) small {
    left: -4%;
    top: 45%;
    background: #0cbbf7;
}

.lightspot3 span:nth-child(4) b {
    width: 2rem;
    height: 3rem;
    display: block;
    border-left: 2px solid #11335b;
    position: absolute;
    left: 44%;
    top: 64%;
    transform: skew(64deg);
}

.lightspot3 span:nth-child(5) {
    left: 20rem;
    top: 11rem;
}

.lightspot3 span:nth-child(5) small {
    background: #0bb2eb;
    width: 7px;
    height: 7px;
}

.lightspot3 span:nth-child(6) {
    left: 9.9rem;
    top: 9.4rem;
}

.lightspot3 span:nth-child(6) small {
    left: 2%;
    top: 97%;
    background: #0cbbf7;
}

.lightspot3 span:nth-child(6) b {
    width: 2rem;
    height: 1rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 31%;
    top: 33%;
    transform: skew(110deg);
}

.lightspot3 span:nth-child(7) {
    left: 8rem;
    top: 6rem;
}

.lightspot3 span:nth-child(7) i small {
    left: -14%;
    top: 115%;
}

.lightspot3 span:nth-child(7) b {
    width: 2rem;
    height: 3rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 10%;
    top: 128%;
    transform: skew(47deg);
}

.lightspot3 span:nth-child(8) {
    left: 5rem;
    top: 13rem;
}

.lightspot3 span:nth-child(8) i small {
    left: -7%;
    top: 32%;
}

.lightspot3 span:nth-child(8) b {
    width: 2rem;
    height: 2.8rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 32%;
    top: -130%;
    transform: skew(118deg);
}

.lightspot3 span:nth-child(9) {
    left: 10rem;
    top: 13rem;
}

.lightspot3 span:nth-child(9) b {
    width: 2rem;
    height: 3rem;
    display: block;
    border-left: 1px solid #11335b;
    position: absolute;
    left: 5%;
    top: -125%;
    transform: skew(3deg);
}

.emptycircle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.industrybottom {
    background: url(../img/bgimg/tan1.png);
    background-size: 100% 100%;
    margin: 20px;
}

.industrybottom ul li {
    padding: 10px;
    border-bottom: 1px solid #1f1f40;
    font-size: 1.4rem;
}

.industrybottom ul li:nth-child(3) {
    border-bottom: none;
}

.wide {
    width: 7rem;
}

.bigcircle {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #00c0ff;
    display: block;
    position: absolute;
    left: -2%;
    top: 14%;
}


/* 明星推荐-企业 */

.allcontainer {
    padding: 10px;
}

.allcontainer div {
    background: url(../img/bgimg/tan1.png);
    background-size: 100% 100%;
    margin-top: 15px;
    padding: 10px;
}

.allcontainer dl dt {
    display: flex;
    align-items: center;
}

.allcontainer dl dt p:nth-child(1) {
    width: 40px;
    height: 20px;
    margin-right: 10px;
}

.allcontainer dl dt p:nth-child(2) {
    color: #00c0ff;
    font-size: 1.6rem;
}

.allcontainer dl dt p:nth-child(1) img {
    width: 100%;
    height: 100%;
}

.allcontainer dl dd {
    margin-top: 10px;
    font-size: 1.4rem;
}


/* 明星推荐-人物 */

.container .starmanimg {
    margin: 20px;
    background: url(../img/bgimg/kuang.png);
    background-size: 100% 100%;
}

.container .starmanimg ul li {
    margin: 10px;
}

.container .starmanimg ul li:nth-child(1) {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 20px;
}

.container .starmanimg ul li:nth-child(1) img {
    width: 100%;
    height: 100%;
}

.container .starmanimg ul li:nth-child(4) {
    padding: 10px;
    font-size: 1.4rem;
}

.container .starmanimg ul li:nth-child(2) {
    color: #00c0ff;
    font-size: 1.6rem;
}

.texts {
    text-align: center;
}


/* 优质企业 */

.company {
    padding: 15px 10px;
}

.company div {
    padding-bottom: 10px;
}

.company div h2 {
    color: #00ffde;
    font-size: 1.4rem;
}

.company ul li {
    display: flex;
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #29294b;
}

.company ul li:nth-child(1) span {
    color: #ccc;
}

.company ul li span:nth-child(1) {
    width: 55%
}

.company ul li span:nth-child(2) {
    width: 45%;
}

.qrcodeimg {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 11rem;
}

.qrcodeimg img {
    width: 100%;
    height: 100%;
}

.message {
    margin-top: 3rem;
}

.message p {
    text-align: center;
    color: #00c0ff;
    margin-top: 1rem;
    line-height: 1.5rem;
}


/* 资本焦点 */

.bigbox .page12 {
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: 100% 100%;
}

.allcapital {
    padding: 2rem;
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: 100% 100%;
    overflow-y: auto;
    height: 90%;
}

.allcapital div {
    background: url(../img/bgimg/tan1.png);
    background-size: 100% 100%;
    margin-top: 15px;
    padding: 10px;
}


/* 市场焦点 */

.allbazzr div {
    border: 1px solid #0d3354;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.allbazzr div p:nth-child(1) {
    background: url(../img/icon/icon19.png) no-repeat center;
    background-size: contain;
    line-height: 2.5rem;
    text-align: center;
    margin-top: -1rem;
    font-size: 1.6rem;
    color: #07b4f6;
}

.allbazzr div p:nth-child(2) {
    padding: 1rem;
    font-size: 1.4rem;
}


/* 排行报告 */

.allreport {
    overflow-y: auto;
    height: 100%;
}

.allreport div {
    padding: 10px;
    border-bottom: 1px solid #29294b;
}

.company ul li:nth-child(2) {
    position: relative;
}

.allreport div ul li:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.allreport div ul li p:nth-child(1) {
    color: #00c0ff;
    font-size: 1.6rem;
}

.allreport div ul li:nth-child(2) {
    margin: 10px 0px;
    color: #fff;
    font-size: 1.4rem;
}

.allreport div ul li:nth-child(3) {
    color: #ccc;
}

.read {
    text-align: center;
    width: 50px;
    line-height: 22px;
    border: 1px solid #01b4f1;
    border-radius: 17%;
    color: #01b4f1;
}

.haveread {
    color: #fff;
    background: #01b4f1;
}

.magimg {
    position: absolute;
    left: 82px;
    width: 158px;
    height: 32px;
    border: 1px solid #22224c;
    display: none;
    background: #101029;
    padding: .4rem;
}


/* 各地新闻 */

.maptext {
    background: url(../img/bgimg/tan1.png);
    background-size: 100% 100%;
    margin: 20px 10px;
}

.maptext ul li {
    padding: 10px;
    border-bottom: 1px solid #1f1f40;
    color: #fff;
    font-size: 1.4rem;
}

.maptexts {
    background: url(../img/bgimg/tan1.png);
    background-size: 100% 100%;
    margin: 20px 10px;
}

.maptexts ul li {
    padding: 10px;
    border-bottom: 1px solid #1f1f40;
    color: #fff;
    font-size: 1.4rem;
}


/* 会议日程 */

.jalendar .days .day:focus {
    outline: none
}

.jalendar {
    position: relative;
    width: 100%;
}

.jalendar .left {
    float: left;
}

.jalendar-pages {
    width: 100% !important;
}

.jalendar-pages>.header {
    text-align: center;
    overflow: hidden;
}

.jalendar-pages>.header .day-names {
    margin: 1%;
    overflow: hidden;
    text-align: center;
    font-size: 0;
}

.jalendar-pages>.header h2 {
    display: inline-block;
    width: 14%;
    padding: 7px 0 0 0;
    text-indent: 1px;
    text-align: center;
    margin: 0;
    height: 22px;
    color: #00c0ff;
    font-size: 1.8rem;
}

.jalendar .days {
    margin: 10px 1%;
    font-size: 0;
    text-align: center;
}

.jalendar .days .day {
    display: inline-block;
    width: 14%;
    height: 46px;
    padding: 5px;
    font: 14px "Roboto", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fff;
    position: relative;
    vertical-align: middle;
}

.jalendar .days .day.have-event {
    cursor: pointer;
}

.jalendar.mid .days .day {
    height: 40px;
    font-size: 18px;
    padding-top: 7px;
}

.jalendar .days .day span {
    display: inline-block;
    width: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 100%;
    margin-top: 5px
}

.jalendar .days .day.selected {
    color: #fff;
}

.jalendar .days .day.today.selected {
    color: #fff !important;
}

.jalendar .days .day>.event-single {
    display: none;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    top: 62px;
    background: #2C1334;
    transform: translateX(-50%);
    border: 1px solid #343449;
    z-index: 100;
    text-align: left;
    padding: 10px 15px;
    box-shadow: 1px 1px 10px #343449;
}

.jalendar .days .day>.event-single p {
    color: #fff
}

.jalendar .days .day>.event-single em {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: #281545;
    border: 1px solid #343449;
    border-bottom: none;
    border-right: none;
}

.jalendar .days .day.selected>i {
    display: none;
}

.jalendar .days .day {
    text-align: center
}

.jalendar .days .day>i {
    position: absolute;
    right: 50%;
    bottom: -3px;
    width: 5px;
    height: 5px;
    display: inline-block;
    font-style: normal;
    background: #A054E0;
    border-radius: 100%;
    transform: translateX(50%);
    -ms-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.daytext {
    background: url(../img/bgimg/tan1.png);
    background-size: 100% 100%;
    margin: 0 auto;
    width: 90%;
}

.daytext ul li {
    padding: 10px;
    border-bottom: 1px solid #1f1f40;
    font-size: 1.4rem;
    color: #fff;
}

.daytext ul li:last-child {
    border-bottom: none;
}

.redaa {
    color: #0bb2eb;
    text-shadow: 0px 0px 1px #0bb2eb;
}

s {
    text-decoration: none;
}

.ticolor {
    color: #fff;
    font-size: 1.8rem;
}

.detail {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.swiper-button-prev {
    display: none;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.post {
    position: absolute;
    left: 2rem;
    top: -3rem;
}

.bigshu {
    position: absolute;
    left: -4rem;
    top: 2rem;
}

.safe {
    position: absolute;
    left: -4rem;
    top: 1rem;
}

.sale {
    position: absolute;
    left: -3rem;
    top: 2rem;
}

.allcapital div p:nth-child(1) {
    color: #00c0ff;
    font-size: 1.6rem;
}

.allcapital div p:nth-child(2) {
    font-size: 1.4rem;
}

.bigtext {
    font-size: 1.4rem;
    color: #fff;
}

.hover {
    color: #00c0ff;
}

.alldynamic span:nth-child(1) {
    width: 6.5rem;
    height: 6.5rem;
    display: block;
}

.alldynamic span img {
    width: 100%;
    height: 100%;
}

.point {
    color: #00c0ff;
}

.express {
    padding-top: 3rem;
}