 .catalog{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

header{
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #151536;
}

.left{
    position: absolute;
    left: .8rem;
    top: .8rem;
    font-size: 2rem;
}

h1{
    font-size: 1.8rem;
}

.container{
    /* flex:1; */
    overflow: auto;
}

.containerul ul{
    display: flex;
    margin: 20px 0px;
    flex-wrap: wrap;
  }
  .containerul ul li{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px 0px;
  }
  
  .containerul ul li span{
      width: 50px;
      height: 50px;
      display: block;
  }
  
  
  .containerul ul li a{
      font-size: 14px;
      color: #fff;
      margin-top: 10px;
  }
  
  
  .containerul ul li span img{
      width: 100%;
      height: 100%;
  }

footer{
    display: flex;
    height: 7rem;
    align-items: center;
    justify-content: center;
}

footer div{
    width: 30px;
    height: 26px;
}

footer div img{
    width: 100%;
    height: 100%;
}

.circle{
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 100%;
    background-color: #00c0ff;
}

.circleblue{
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 100%;
    background-color: #00ffde;
}

.circleyellow{
    width: 4px;
    height: 4px;
    display: block;
    border-radius: 100%;
    background-color: #fffc00;
}
 
i{
    font-style: normal;
    margin-left: .2rem;
    width: 4rem;
    text-align: center;
    display: inline-block;
}

.circlehigh{
    border: 4px solid #0b456a;
    color: #00c0ff;
    width: 6px;
    height: 6px;
}

.circlehigh2{
    border: 4px solid #0b5860;
    color: #00c0ff;
    width: 6px;
    height: 6px;
}

.circlehigh3{
    border: 4px solid #58571d;
    color: #fffc00;
    width: 6px;
    height: 6px;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bigbox .skippage{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.bigbox .page{
    height: 100%;
    position: relative;
}

.bigbox .page1{
    background: url(../img/bgimg/bgimg.jpg) no-repeat center;
    background-size: 100% 100%;
}

.bigbox .page2{
    background: url(../img/bgimg/bg1.jpg) no-repeat center;
    background-size: 100% 100%;
}

.bigbox .page3{
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: 100% 100%;
}

.bigbox .page4{
    background: url(../img/bgimg/bg3.png) no-repeat center;
    background-size: 100% 100%;
}

.bigbox .page5{
    background: url(../img/bgimg/bg1.jpg) no-repeat center;
    background-size: 100% 100%;
}

.bigbox .page6{
    background: url(../img/bgimg/bg1.jpg) no-repeat center;
    background-size: 100% 100%;
}

.bigbox .page7{
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: 100% 100%;
}

.bigbox .page8{
    background: url(../img/bgimg/bg1.jpg) no-repeat center;
    background-size: 100% 100%;
}

.bigbox .page9{
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: 100% 100%;
}

.bigbox .page10{
    background: url(../img/bgimg/bg4.png) no-repeat center;
    background-size: 100% 100%;
}

.page header{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #151536;
}

.left{
    position: absolute;
    left: .8rem;
    top: .8rem;
    font-size: 2rem;
}

.center h1{
    font-size: 1.4rem;
    color: #ffffff;
    letter-spacing: 2px;
}

.page-container {
    margin-top: 3rem;
}

.page-container div ul{
   display: flex;
   flex-wrap: wrap;
}

.page-container div ul li{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-container ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container ul li a span:nth-child(1){
    width: 65px;
    height: 65px;
    display: block;
}

.page-container ul li a span:nth-child(1) img{
    width: 100%;
    height: 100%;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    margin-left: 1rem;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active{
    background: #007aff;
}



.text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-align: center;
}

.ptext{
    text-align: right;
}

.img{
    animation: poiner 2s infinite;
}

@keyframes poiner {
    0% {opacity: 0;bottom: 0}
    100% {opacity: 1;bottom: 10px;}
}