.qrcodeimg{
    width: 100px;
    height: 100px;  
    margin: 0 auto;
    padding-top: 12rem; 
}

.qrcodeimg img{
    width: 100%;
    height: 100%;
}

.message{
    margin-top: 3rem;
}

.message p{
    text-align: center;
    color: #00c0ff;
    margin-top: 1rem;
    line-height: 1.5rem;
}
/* .text{
    width: 100%;
    margin-top: 3rem;
}

.text p{
    text-align: center;
    color: #00ffde;
    font-size: 14px;
    margin-top: 1rem;
} */