body{
    background: url(../img/bgimg/bg4.png) no-repeat center;
    background-size: 100% 100%;
}

.qrcodeimg{
    width: 100px;
    height: 100px;  
    margin-top: 12rem; 
}

.qrcodeimg img{
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text{
    width: 100%;
    margin-top: 3rem;
}

.text p{
    text-align: center;
    color: #00ffde;
    font-size: 14px;
    margin-top: 1rem;
}