body{
    background: url(../img/bgimg/bg3.png) no-repeat center;
    background-size: 100% 100%;
}

.industrytop ul{
    height: 18rem;
    position: relative;
}


.lightspot1 span:nth-child(1){
    position: absolute;
    left: 8%;
    top: 41%;
}

.lightspot1 span:nth-child(1) small{
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 88%;
    top: 59%;
}

.lightspot1 span:nth-child(1) b{
    width: 2rem;
    height: 3rem;
    display: block;
    border-left: 2px dotted #063952;
    position: absolute;
    left: 144%;
    top: 59%;
    transform: skew(58deg);
}

.lightspot1 span:nth-child(2){
    position: absolute;
    left: 11%;
    top: 16%;
}

.lightspot1 span:nth-child(2) b{
   height: 7rem;
   display: block;
   border-left: 2px dotted #063952;
   position: absolute;
   transform: skew(27deg);
   left: 147%;
   top: 84%;
}

.lightspot1 span:nth-child(2) small{
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 97%;
    top: 69%;
}

.lightspot1 span:nth-child(3) {
    position: absolute;
    left: 30%;
    top: 9%;
}

.lightspot1 span:nth-child(3) b{
    height: 7rem;
    display: block;
    border-left: 2px dotted #063952;
    position: absolute;
    left: 55%;
    top: 111%;
    transform: skew(8deg);
}

.lightspot1 span:nth-child(3) small{
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 39%;
    top: 92%;
}

.lightspot1 span:nth-child(4) {
    position: absolute;
    left: 50%;
    top: 19%;
}

.lightspot1 span:nth-child(4) b{
    height: 5rem;
    display: block;
    border-left: 2px dotted #063952;
    position: absolute;
    left: -4%;
    top: 115%;
    transform: skew(-41deg); 
}

.lightspot1 span:nth-child(4) small{
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 49%;
    top: 100%;
}

.lightspot1 span:nth-child(5) {
    position: absolute;
    left: 69%;
    top: 33%;
}

.lightspot1 span:nth-child(5) b{
    height: 4rem;
    display: block;
    border-left: 2px dotted #063952;
    position: absolute;
    left: -66%;
    top: 114%;
    transform: skew(-63deg); 
}

.lightspot1 span:nth-child(5) small{
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    top: 89%;
}

.lightspot1 span:nth-child(6) {
    position: absolute;
    left: 75%;
    top: 46%;
}

.lightspot1 span:nth-child(6) b{
    height: 3rem;
    display: block;
    border-left: 3px dotted #063952;
    position: absolute;
    left: -89%;
    top: 62%;
    transform: skew(-75deg); 
}

.lightspot1 span:nth-child(6) small{
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: 28%;
    top: 89%;
}

.lightspot1 span:nth-child(7) {
    position: absolute;
    left: 60%;
    top: 84%;
}

.lightspot1 span:nth-child(8){
    position: absolute;
    left: 41%;
    top: 63%;
}

.lightspot1 span:nth-child(8) small{
    width: 5px;
    height: 5px;
    display: block;
    background-color: #063952;
    border-radius: 100%;
    position: absolute;
    left: -4%;
    top: 45%;
}

.lightspot1 span:nth-child(8) b{
    width: 2rem;
    height: 3rem;
    display: block;
    border-left: 2px solid #11335b;
    position: absolute;
    left: 62%;
    top: 72%;
    transform: skew(57deg);
}

.emptycircle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.industrybottom {
    background: url(../img/bgimg/tan1.png);
    background-size: 100% 100%;
    margin: 20px;
    margin-top: 4rem;
    padding:1rem;
}

.industrybottom ul li{
    padding: 10px;
    border-bottom: 1px solid #1f1f40;
}

.industrybottom ul li:nth-child(3){
    border-bottom: none;
}

.wide{
    width: 7rem;
}

.bigcircle{
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #00c0ff;
    display: block;
    position: absolute;
    left: -2%;
    top: 14%;
}
