body{
    background: url(../img/bgimg/bg1.jpg) no-repeat center;
    background-size: 100% 100%;
}


.dottedline{
    padding: 30px 10px;
    position: relative;
}

.dottedline .leftborder{
    border-left: 1px solid #0077b3;
    border-bottom: 1px solid #0077b3;
    border-bottom-left-radius: 20px;

    padding: 20px  10px;
    margin: 0 auto;
    width: 85%;
    position: relative;
}

.dottedline .rightborder{
    border-right: 1px solid #0077b3;
    border-bottom: 1px solid #0077b3;
    border-bottom-right-radius: 20px;
    padding: 20px 10px;
    margin: 0 auto;
    width: 85%;
    position: relative;
}

.textcolor{
    color: #00c0ff;
    font-size: 1.4rem;
}

.leftdot{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #00fff0;
    position: absolute;
    left: -3px;
    top: 28px;
}

.rightdot{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #00fff0;
    position: absolute;
    right: -3px;
    top: 28px;
}