body{
    background: url(../img/bgimg/bg2.png) no-repeat center;
    background-size: 100% 100%;
}

.allreport div {
    padding: 10px;
    border-bottom: 1px solid #29294b;
}

.allreport div ul li:nth-child(1){
    display: flex;
    justify-content: space-between;
}

.allreport div ul li p:nth-child(1){
    color: #00c0ff;
    font-size: 1.4rem;
}

.allreport div ul li:nth-child(2){
    margin: 10px 0px;
}

.allreport div ul li:nth-child(3){
    color: #ccc;
}

.read{
    text-align: center;
    width: 50px;
    height: 20px;
    border: 1px solid #01b4f1;
    border-radius: 17%;
    color: #01b4f1;
}

.haveread{
    color: #fff;
    background: #01b4f1;
}