.Precisecircles ul li:nth-child(1){
    position: absolute;
    left: 44%;
    top: 570%;
    transform: translateY(-50%);
}

.Precisecircles ul li:nth-child(1) div{
    background: -webkit-linear-gradient(Top,#20c2fe,#3b83a9,#bd62f7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.Precisecircles ul li:nth-child(1) span{
    position: absolute;
    top: -5px;
    right: 6px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #000c0b;
} 
.smaa{
    
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -5px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #55bbfb;
    box-shadow: 1px 1px 2px #fff;
    display: none;
}

.smbb{
    position: absolute;
    left: 50%;
    top: -5px;
    margin-left: -5px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 1px 1px 2px #fff;
    display: none;
}

.smcc{
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 1px 1px 2px #fff;
    display: none;
}

.smaa>i,.smbb>i,.smcc>i{
    position: absolute;
    width: 100px;
    top: 17px;
    left: -18px;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.smaa .spot{
    overflow: visible;
}
.smbb .spot{
    overflow: visible;
}
.smcc .spot{
    overflow: visible;
}
.Precisecircles ul li:nth-child(2){
    position: absolute;
    left: 36%;
    top: 244%;
}
.Precisecircles ul li:nth-child(2) div{
    background: -webkit-linear-gradient(Top,#3b6aa0,#40589e,#47499c);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    cursor: pointer;
}

.Precisecircles ul li:nth-child(2) span{
    position: absolute;
    top: -8px;
    right: 1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000c0b;
} 


.Precisecircles ul li:nth-child(3){
    position: absolute;
    left: 24%;
    top: 409%;
}
.Precisecircles ul li:nth-child(3) div{
    background: -webkit-linear-gradient(Top,#2a5577,#2f4777,#37387b);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    cursor: pointer;
}

.Precisecircles ul li:nth-child(3) span{
    position: absolute;
    top: -8px;
    right: -1px;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000c0b;
} 



.Precisecircles ul li:nth-child(4){
    position: absolute;
    left: 51%;
    top: 202%;
}
.Precisecircles ul li:nth-child(4) div{
    background: -webkit-linear-gradient(Top,#20c2fe,#3b83a9,#bd62f7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    cursor: pointer;
}

.Precisecircles ul li:nth-child(4) span{
    position: absolute;
    top: -8px;
    right: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000c0b;
} 


.Precisecircles ul li:nth-child(5){
    position: absolute;
    left: 79%;
    top: 393%;
}
.Precisecircles ul li:nth-child(5) div{
    background: -webkit-linear-gradient(Top,#4e8fcf,#4d71c7,#565ec3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    cursor: pointer;
}

.Precisecircles ul li:nth-child(5) span{
    position: absolute;
    top: -8px;
    right: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000c0b;
} 

.Precisecircles ul li:nth-child(6){
    position: absolute;
    left: 64%;
    top: 367%;
}
.Precisecircles ul li:nth-child(6) div{
    background: -webkit-linear-gradient(Top,#4188b6,#4977b5,#5e66b1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    cursor: pointer;
}

.Precisecircles ul li:nth-child(6) span{
    position: absolute;
    top: -8px;
    right: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000c0b;
} 

.Precisecircles ul li:nth-child(7){
    position: absolute;
    left: 63%;
    top: 548%;
}
.Precisecircles ul li:nth-child(7) div{
    background: -webkit-linear-gradient(Top,#4691ca,#4d77c9,#488ecc);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    cursor: pointer;
}

.Precisecircles ul li:nth-child(7) span{
    position: absolute;
    top: -8px;
    right: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000c0b;
} 


.Precisecircles ul li:nth-child(8){
    position: absolute;
    left: 18%;
    top: 215%;
}
.Precisecircles ul li:nth-child(8) div{
    background: -webkit-linear-gradient(Top,#20c2fe,#3b83a9,#bd62f7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    cursor: pointer;
}

.Precisecircles ul li:nth-child(8) span{
    position: absolute;
    top: -8px;
    right: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000c0b;
} 



.Precisecircles ul li:nth-child(9){
    position: absolute;
    left: 46%;
    top: 710%;
}
.Precisecircles ul li:nth-child(9) div{
    background: -webkit-linear-gradient(Top,#20c2fe,#3b83a9,#bd62f7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    cursor: pointer;
}

.Precisecircles ul li:nth-child(9) span{
    position: absolute;
    top: -8px;
    right: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000c0b;
} 


.Precisecircles ul li:nth-child(10){
    position: absolute;
    left: 30%;
    top: 649%;
} 
.Precisecircles ul li:nth-child(10) div{
    background: -webkit-linear-gradient(Top,#20c2fe,#3b83a9,#bd62f7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    cursor: pointer;
} 

 .Precisecircles ul li:nth-child(10) span{
    position: absolute;
    top: -8px;
    right: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
    background-color: #20c2fe;
    box-shadow: 0px 0px 35px #000;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000c0b;
}


.bigborder{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    text-align: center;
    color:#fff;
    font-size: 12px;
}

.smallborder{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    text-align: center;
    color:#fff;
    font-size: 12px;   
}

.bigdiv{
    width: 100px;
    height: 100px;
    font-size: 12px;
    color: #fff;
    border-radius: 100%;
}

.smalldiv{
    width: 75px;
    height: 75px;
    font-size: 12px;
    color: #fff;
    border-radius: 100%;
}

.smalldiv p{
    padding: 25px 10px;
}

.bigdiv p{
    padding: 35px 10px;
}

#searchTag{
    float: left;
}

.markSure{
    min-height: 600px;
}
